<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AML Project Deployment</title>
</head>
<body>
    <h1>Features Value Input </h1>
    <form action = '' method = 'POST'>
        {% csrf_token %}
        Step <input type = 'number' name = 'step' required><br>
        Amount <input type = 'number' step = 0.01 name = 'amount' required><br>
        Old Originator Balance <input type = 'number' step = 0.01 name = 'oldOrigBal' required><br>
        New Originator Balance <input type = 'number' step = 0.01 name = 'newOrigBal' required><br>
        Old Destination Balance <input type = 'number' step = 0.01 name = 'oldDestBal' required><br>
        New Destination Balance <input type = 'number' step = 0.01 name = 'newDestBal' required><br>
        <input type = 'Submit'>
    </form>
    <hr>
    {% if predict %}
        Predicted Transaction: <b>{{predict}}<b>.
    {% endif %}
</body>
</html>